{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow p-4">

                <h2 class="text-center mb-1">Welcome Back</h2>
                <p class="text-center text-muted mb-4">Onam Pookalam Competition 2026</p>

                <form method="POST" action="/login">

                    <div class="mb-3">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username"
                               class="form-control" required autofocus>
                    </div>

                    <div class="mb-3">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password"
                               class="form-control" required>
                    </div>

                    <button type="submit" class="btn btn-success w-100 mt-2">
                        Login
                    </button>

                </form>

                <div class="text-center mt-3">
                    <small class="text-muted">Want to participate?<a href="/">register </a></small>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}